/*
still deciding if I'll use these fonts...

@font-face {
	font-family: 'MathJax_Typewriter';
	src: url('https://raw.githubusercontent.com/nobody-but-me/gooffee/master/src/assets/fonts/MathJax_Typewriter-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
*/
body,html {
/*	font-family: "MathJax_Typewriter", "DejaVu Sans Mono", "Times New Roman";*/
	font-family: Georgia;
	
	background-color:#FFFDD0;
	padding:         0;
	margin:          0;
	left:            0;
	top:             0;
	
	background-color: black;
	color: white;

	overflow-x: hidden;
}

@keyframes texture_loop
{
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100px 100px;
	}
}

a:link{
	color: #5886fc;
	background-color: transparent;
	text-decoration: none;
}
a:visited{
	color: #FFDB94;
	background-color: transparent;
	text-decoration: none;
}
a:hover{
	color: #395392;
	background-color: transparent;
	text-decoration: underline;
}
a:active{
	color: #0D408E;
	background-color: transparent;
	text-decoration: underline;
}
